@import '/src/styles/vars';

.greeting__modal-title {
  font-size: $font-32;
  color: $black2;
  text-align: center;
  font-family: $family;
  @media screen and (min-width: 320px) and (max-width: 450px) {
    font-size: $font-20;
    margin-top: 40px;
  }
  @media screen and (min-width: 450px) and (max-width: 490px) {
    margin-top: 50px;
  }
  @media screen and (min-width: 450px) and (max-width: 700px) {
    font-size: $font-26;
  }
  span {
    color: $pinkColor;
  }
}

.greeting__modal-text {
  color: $black2;
  font-size: $font-16;
  margin: 40px 0 40px;
  text-align: center;
  @media screen and (min-width: 320px) and (max-width: 450px) {
    margin: 20px 0 20px;
    font-size: $font-14;
  }
  @media screen and (min-width: 450px) and (max-width: 700px) {
    margin: 25px 0 25px;
    font-size: $font-16;
  }
}

.startBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
