@import "../../../styles/vars";
.containerBurger {
  position: relative;
  flex-basis: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 180px;
    padding-left: 20px;
    img {
      width: 100%;
    }
  }
.wrapper_menu{
  background-color: $pinkColor;
  border-radius: 133px;
  position: relative;
  width: 50px;
  right:30px;
  top: 1px;
  display: flex;
  justify-content: center;
  height: 60%
}
}

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 30px;
  color: black;
  transition: color 0.2s;
}

.bm-item:hover {
  color: $pinkColor;
}

.bm-burger-button {
  color: white;
  left: 9px;
  top:13px;
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 20px;
}

.bm-burger-bars {
  background: white;
  border-radius: 10px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: black;
}

.bm-menu {
  background: white;
  padding: 6.5em 1.5em 0;
  font-size: 1em;
  font-family: $family;
}

.bm-morph-shape {
  fill: $pinkColor;
}
.bm-item-list {
  color: #b8b7ad;
}
.bm-overlay {

}
