@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
.cm-line,
.cm-gutter {
  justify-content: space-evenly;
  font-size: 18px;
}
@media screen and (min-width: 320px) and (max-width: 675px) {
  .cm-line,
  .cm-gutter {
    font-size: 16px;
  }
}

.homePublicPage {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin-top: 1%;
}
@media screen and (min-width: 320px) and (max-width: 990px) {
  .homePublicPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.homePublicPage__modal .ant-modal-content {
  border-radius: 60px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .homePublicPage__modal .ant-modal-content {
    padding: 0px 0px;
  }
}
.homePublicPage__modal-container {
  padding: 8%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 1400px) {
  .homePublicPage__modal-container {
    height: 90vh;
  }
}
.homePublicPage__modal-title {
  font-size: 32px;
  color: rgb(234, 93, 128);
  text-align: center;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .homePublicPage__modal-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 360px) and (max-width: 675px) {
  .homePublicPage__modal-title {
    width: 70%;
  }
}
.homePublicPage__modal-stripes {
  transform: translate(-10px, -9px);
}
@media screen and (min-width: 320px) and (max-width: 577px) {
  .homePublicPage__modal-stripes {
    transform: none;
  }
}
@media screen and (min-width: 360px) and (max-width: 675px) {
  .homePublicPage__modal-stripes {
    width: 12%;
  }
}
.homePublicPage__modal-text {
  text-align: center;
  font-size: 16px;
  color: #36363a;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .homePublicPage__modal-text {
    font-size: 12px;
  }
}
@media screen and (min-width: 481px) and (max-width: 675px) {
  .homePublicPage__modal-text {
    font-size: 14px;
  }
}
.homePublicPage__modal-arrow {
  padding: 2%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .homePublicPage__modal-arrow {
    width: 30%;
  }
}
@media screen and (min-width: 481px) {
  .homePublicPage__modal-arrow {
    width: 28%;
  }
}
.homePublicPage__modal-btn {
  font-size: 16px;
  padding: 4% 15%;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  background-color: rgb(234, 93, 128);
  cursor: pointer;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 675px) {
  .homePublicPage__modal-btn {
    font-size: 14px;
    padding: 6% 10%;
  }
}
.homePublicPage__left {
  max-width: 45%;
  width: 100%;
  margin-right: 1%;
}
@media screen and (min-width: 320px) and (max-width: 990px) {
  .homePublicPage__left {
    max-width: 90%;
  }
}
.homePublicPage__taskPublic {
  height: 100%;
}
.homePublicPage__block {
  background-color: #ffffff;
  border-radius: 60px;
  min-height: 40vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4% 0 4% 4%;
}
@media screen and (min-width: 320px) and (max-width: 675px) {
  .homePublicPage__block {
    min-height: 30vh;
    border-radius: 30px;
    padding: 0;
  }
}
@media screen and (min-width: 990px) {
  .homePublicPage__block {
    min-height: 30vh;
  }
}
.homePublicPage__exercise {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 320px) and (max-width: 700px) {
  .homePublicPage__exercise {
    width: 100%;
    padding: 4%;
  }
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
  .homePublicPage__exercise {
    width: 75%;
  }
}
.homePublicPage__exercise-title {
  font-size: 32px;
  color: rgb(234, 93, 128);
  padding-bottom: 5%;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 675px) {
  .homePublicPage__exercise-title {
    font-size: 18px;
  }
}
.homePublicPage__exercise-text {
  font-size: 16px;
  color: #3b3b3b;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 675px) {
  .homePublicPage__exercise-text {
    font-size: 14px;
  }
}
.homePublicPage__exercise-a {
  font-size: 16px;
  color: rgb(234, 93, 128);
  padding-top: 5%;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 320px) and (max-width: 675px) {
  .homePublicPage__exercise-a {
    font-size: 14px;
  }
}
.homePublicPage__img {
  display: flex;
}
@media screen and (min-width: 320px) and (max-width: 675px) {
  .homePublicPage__img {
    display: none;
  }
}
.homePublicPage__img-calc {
  width: 80%;
  margin-left: 10%;
}
.homePublicPage__img-rhombus {
  width: 50%;
  height: 5%;
  transform: translate(-75px, 740%);
}
.homePublicPage__result {
  background-color: #ffffff;
  min-height: 34vh;
  display: flex;
  justify-content: space-between;
  border-radius: 60px;
  margin-top: 3.5%;
}
@media screen and (min-width: 320px) and (max-width: 675px) {
  .homePublicPage__result {
    margin-bottom: 5%;
    justify-content: center;
    min-height: 18vh;
    height: auto;
    margin-top: 5%;
    border-radius: 30px;
  }
}
@media screen and (min-width: 676px) and (max-width: 990px) {
  .homePublicPage__result {
    height: auto;
    justify-content: center;
    margin: 4% 0 4% 0;
  }
}
@media screen and (min-width: 991px) {
  .homePublicPage__result {
    height: auto;
  }
}
.homePublicPage__result-rhombus {
  transform: translate(0, 35%);
}
.homePublicPage__result-cat {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
}
.homePublicPage__result-images {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 675px) {
  .homePublicPage__result-images {
    display: none;
  }
}
.homePublicPage__result-block {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 675px) {
  .homePublicPage__result-block {
    width: auto;
  }
}
@media screen and (min-width: 676px) {
  .homePublicPage__result-block {
    width: 60%;
  }
}
.homePublicPage__result-arrow {
  max-width: 240px;
  height: 80px;
}
@media (max-width: 1360px) {
  .homePublicPage__result-arrow {
    display: none;
  }
}
.homePublicPage__result-text {
  font-size: 18px;
  color: #3b3b3b;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  height: auto;
  padding: 15px;
}
@media screen and (min-width: 320px) and (max-width: 675px) {
  .homePublicPage__result-text {
    font-size: 14px;
    text-align: center;
  }
}
.homePublicPage__right {
  margin-left: 1%;
  max-width: 45%;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 990px) {
  .homePublicPage__right {
    max-width: 90%;
  }
}
.homePublicPage__right .box_sucsessfully {
  position: absolute;
  bottom: 30%;
  left: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 990px) {
  .homePublicPage__right .box_sucsessfully {
    bottom: 15%;
    left: 0%;
  }
}
.homePublicPage__answer {
  min-height: 60vh;
  height: auto;
  background-color: #282c34;
  border-radius: 60px;
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 360px) and (max-width: 675px) {
  .homePublicPage__answer {
    font-size: 14px;
    border-radius: 30px;
  }
}
@media screen and (min-width: 990px) {
  .homePublicPage__answer {
    min-height: 82vh;
    height: auto;
  }
}
.homePublicPage__hint {
  display: flex;
  align-items: flex-end;
  width: 15%;
}
@media screen and (min-width: 320px) and (max-width: 460px) {
  .homePublicPage__hint {
    width: 25%;
  }
}
@media screen and (min-width: 360px) and (max-width: 675px) {
  .homePublicPage__hint {
    margin-right: 3%;
  }
}
.homePublicPage__hint-btn {
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  padding: 12%;
  border-radius: 50%;
  margin-bottom: 40%;
  margin-left: 7%;
}
.homePublicPage__hint-img {
  width: 100%;
  border-radius: 20px;
}
.homePublicPage__check {
  margin-top: 3.5%;
}
.homePublicPage__check-btn {
  width: 100%;
  border-radius: 50px;
  border: none;
  background-color: rgb(234, 93, 128);
  color: #ffffff;
  font-size: 16px;
  padding: 2.4%;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}
@media screen and (min-width: 360px) and (max-width: 675px) {
  .homePublicPage__check-btn {
    padding: 4%;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes cat {
  60% {
    transform: translateY(-40%);
    opacity: 0.5;
  }
  80% {
    transform: translateY(-20%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-15px, 0);
  }
  50% {
    transform: translate(15px, 0);
  }
  75% {
    transform: translate(-15px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes restColor {
  100% {
    background-color: #e1aa50;
  }
}
.cm-theme {
  width: auto;
}/*# sourceMappingURL=HomePagePublic.css.map */