@import '../../../styles/vars';

.homePageModal .ant-modal-content {
  border-radius: 60px;
}

.homePublicPage{
  display: flex;
  justify-content: space-around;
  // flex-wrap: wrap;


  //мобальное окно
  &__modal{
    border-radius: 60px;
  }

  &__modal-container{
    padding: 8%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__modal-title{
    font-size: $font-32;
    color: $pinkColor;
    text-align: center;
  }

  &__modal-stripes{
    transform: translate(-10px, -9px);
  }

  &__modal-text{
    text-align: center;
    font-size: 16px;
    color: $colorText;
  }

  &__modal-arrow{
    padding: 2%;
  }

  &__modal-btn{
    font-size: $font-16;
    padding: 4% 15%;
    color: $whiteColor;
    border-radius: 50px;
    border: none;
    background-color: $pinkColor;
  }

  // основная страница

  &__left{
    max-width: 40%;
    width: 100%;
  }

  &__right{
    max-width: 40%;
    width: 100%;
  }
}
