@use '../../../styles/mixins' as mixins;
@import "../../../styles/vars";

.taskList-container {
  min-height: 81.1vh;
  background: $mainBackground;
  padding: 30px 100px;

  @media screen and (min-width: 360px) and (max-width: 675px) {
    min-height: calc(100vh - 120px - 166px);
    padding: 10px 50px;
  }

  .taskList-title {
    text-align: center;
    @include mixins.font($bold, $font-24, $blackColor);

    @media screen and (min-width: 360px) and (max-width: 675px) {
      @include mixins.font($bold, $font-20, $blackColor);
    }
  }

  .taskList-text {
    margin-top: 20px;
    @include mixins.font($light, $font-18, $blackColor);

    @media screen and (min-width: 360px) and (max-width: 675px) {
      @include mixins.font($light, $font-14, $blackColor);
    }
  }

  .taskList-note {
    padding: 20px;
    margin-top: 30px;
    border: 1px solid $pinkColor;
    border-radius: 10px;
    margin-bottom: 40px;


    @include mixins.font($light, $font-16, $pinkColor);
  }

  .taskList-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto 0 auto;

    @include mixins.font($light, $font-18, $blackColor);

    .taskList-task-card {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 30px;

      width: 500px;
      height: 50px;

      margin-top: 20px;
      padding-left: 20px;
      border: 2px solid $darkBrownColor;
      border-radius: 10px;
      text-decoration: none;

      @include mixins.font($normal, $font-18, $pinkColor);

      @media screen and (min-width: 360px) and (max-width: 675px) {
        width: 250px;
      }

      .taskList-task-icon {
        width: 30px;
        height: 30px;
      }
    }
    .active-task-card{
      border: 4px solid $pinkColor;
    }

    .taskList-task-card:hover {
      @include mixins.font($normal, $font-18, $darkBrownColor);
    }

    .taskList-messageOfRules {

      .taskList-messageOfRules-text {
        @include mixins.font($normal, $font-18, $darkBrownColor);
      }

      .taskList-messageOfRules-btn {
        width: 300px;
        height: 40px;
        margin-top: 30px;
        border-radius: 10px;
        border: none;
        margin-bottom: 50px;
        @include mixins.button($light, $font-18, $whiteColor, $pinkColor, $whiteColor, $pinkColor, $disabledBtnBackground);

        .taskList-messageOfRules-link {
          text-decoration: none;
          color: $whiteColor;
        }

        .taskList-messageOfRules-link:hover {
          color: $pinkColor;
        }
      }
    }
  }
  .container__btn-back-theme{
    display: flex;
    justify-content: center;
    button{
      display: inline-block;
      width: 250px;
      height: 50px;
      background-color: inherit;
      border-radius:15px;
      color: $pinkColor;
      outline: none;
      border-color: $pinkColor;
      font-weight: 900;
      cursor: pointer;
    }
  }
}
.container_errTest{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  h1{
    @include mixins.font($normal, $font-24, $darkBrownColor);
    margin-bottom: 50px;
    text-align: center;
  }
  button{
    width: 300px;
    height: 40px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    margin-bottom: 50px;
    transition: 0.5s;
    @include mixins.button($light, $font-18, $whiteColor, $pinkColor, $whiteColor, $pinkColor, $disabledBtnBackground);
  }
}
