.cm-scroller{
  overflow-x: hidden;
 border-radius: 60px;
  padding: 20px;
}
.mirror{
  font-size: 14px;

}

.cm-editor{
  border-radius: 60px;
}

.cm-theme{
  padding-left: 10px;
  width: 100%;
  border-radius: 60px;

}
