@use '../../../styles/mixins' as mixins;
@import "../../../styles/vars";

.home-container {
  height: 100%;
  background: $mainBackground;
  padding: 30px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 360px) and (max-width: 675px) {
    min-height: calc(100vh - 120px - 166px);
  }

  .home-title {
    @include mixins.font($bold, $font-24, $blackColor);

    @media screen and (min-width: 360px) and (max-width: 675px) {
      @include mixins.font($bold, $font-20, $blackColor);
    }
  }

  .home-citation-container {
    margin-top: 30px;

    .home-citation{
      @include mixins.font($light, $font-20, $blackColor);

      @media screen and (min-width: 360px) and (max-width: 675px) {
        @include mixins.font($light, $font-14, $blackColor);
      }
    }
    .home-author {
      margin-top: 10px;
      @include mixins.font($light, $font-18, $blackColor);

      @media screen and (min-width: 360px) and (max-width: 675px) {
        @include mixins.font($light, $font-12, $blackColor);
      }
    }
  }

  .home-accordion {
    width: 500px;
    min-height: 50px;
    margin: 40px auto 0 auto;
    text-align: start;

    @include mixins.font($normal, $font-14, $blackColor);

    @media screen and (min-width: 360px) and (max-width: 675px) {
      width: 250px;
    }

    .home-accordion-link {
      display: block;
      padding: 10px;
      @include mixins.font($light, $font-16, $pinkColor);
    }
  }
}
.wrapper_list_tasks{

 display: flex;
  align-items: center;
  justify-content: space-between;
  span{
    color: #44cc64;
    font-size: 16px;
  }
}
.borderSuccessfully{
  border: 1px solid $pinkColor;
  border-radius:  10px;
  padding: 0 10px;
  margin-bottom: 10px;
}
