@import '../styles/vars';

.resume {
    display: block;
    color: $whiteColor;
    font-family: $family;
    text-align: center;
    width: 500px;
    padding: 15px 0;
    background-color: $pinkColor;

    &__img {
        border-radius: 75px;
        width: 150px;
    }

    &__title {
        font-size: $font-28;
        font-weight: $bold;
        margin: 10px;
    }

    &__subtitle {
        font-size: $font-24;
        font-weight: $normal;
    }

    &__text {
        margin: 15px;
        font-size: $font-16;
        font-weight: $normal;
    }

    &__link {
        background-color: $whiteColor;
        font-size: $font-16;
        font-weight: $light;
        border-radius: 50px;
        padding: 10px;
        display: block;
        text-align: center;
        margin: 12px;
        margin-left: 42px;
        margin-right: 42px;
        color: $pinkColor;
        cursor: pointer;
        text-decoration: underline;
    }
}