html, body {
  height: 100%;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header-container {
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;
    background:#f3efe6
  }


  .footer-container {
    flex-shrink: 0;
  }
}

