@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
$family: 'Jost', sans-serif;
$familySecond: 'Jost', sans-serif;

$bold: 600;
$normal: 500;
$light: 400;

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-30: 30px;
$font-32: 32px;

$whiteColor: #ffffff;
$blackColor: #000000;
$black2: rgba(54, 54, 58, 1);
$darkPinkColor: #b50d0d;
$darkBrownColor: #3b3b3b;
$blueColor: #0cb3eb;
$lightBlueColor: #adeaff;
$mainBackground: #f3efe6;
$pinkColor: rgb(234 93 128);
$lightGreyColor: #ddd;
$darkGreyColor: #282c35;
$disabledBtnBackground: #c997a5;
$orangeColor: #ff8562;
$lightOrangeColor: #f39d90;
$colorText: #36363a;
