@import '../../styles/vars.scss';

.modalAnswer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;

    h2 {
        font-size: $font-32;
        color: $pinkColor;
        font-family: $familySecond;
        text-align: center;
    }

    img {
        display: block;
        height: auto;
        width: 250px;
    }

    button {
        border-radius: 50px;
        border: none;
        background-color: $pinkColor;
        color: #ffffff;
        font-size: $font-16;
        padding: 4% 15%;
        font-family: $familySecond;
        cursor: pointer;
    }
}