@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
.wrapper_homeGl {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 20px 87px;
}
@media (max-width: 680px) {
  .wrapper_homeGl {
    padding: 3%;
  }
}
.wrapper_homeGl .content_wrapper {
  flex-basis: 90%;
}
@media (max-width: 990px) {
  .wrapper_homeGl .content_wrapper {
    flex-basis: 100%;
  }
}
.wrapper_homeGl .content_wrapper .content_title {
  margin-bottom: 30px;
}
.wrapper_homeGl .content_wrapper .content_title h3 {
  position: relative;
  color: rgb(24, 27, 50);
  font-family: "Jost", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 126%;
  text-align: left;
  display: inline-block;
}
@media (max-width: 870px) {
  .wrapper_homeGl .content_wrapper .content_title h3 {
    font-size: 40px;
  }
}
@media (max-width: 680px) {
  .wrapper_homeGl .content_wrapper .content_title h3 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .wrapper_homeGl .content_wrapper .content_title h3 {
    font-size: 24px;
  }
}
.wrapper_homeGl .content_wrapper .content_title h3 span {
  color: rgb(234, 93, 128);
}
.wrapper_homeGl .content_wrapper .content_title h3 img {
  position: absolute;
  left: 60%;
  top: -10px;
}
@media (max-width: 680px) {
  .wrapper_homeGl .content_wrapper .content_title h3 img {
    display: none;
  }
}
.wrapper_homeGl .content_wrapper .content_body .box {
  border: 2px solid rgb(234, 93, 128);
  border-radius: 32px;
  background: rgb(255, 255, 255);
  color: rgb(102, 102, 128);
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 190%;
  text-align: left;
  padding: 20px 50px;
  margin-bottom: 20px;
}
@media (max-width: 680px) {
  .wrapper_homeGl .content_wrapper .content_body .box {
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
  }
}
.wrapper_homeGl .content_wrapper .content_body .wrap_box_first {
  display: flex;
  align-items: center;
}
@media (max-width: 990px) {
  .wrapper_homeGl .content_wrapper .content_body .wrap_box_first img {
    display: none;
  }
}
.wrapper_homeGl .content_wrapper .btn_wrapper {
  width: 200px;
  height: 61.8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 43.63px;
  background: rgb(234, 93, 128);
  margin-bottom: 45px;
}
@media (max-width: 680px) {
  .wrapper_homeGl .content_wrapper .btn_wrapper {
    width: 100%;
  }
}
.wrapper_homeGl .content_wrapper .btn_wrapper a {
  font-size: 16px;
  font-weight: 400;
  line-height: 30.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  color: white;
}
.wrapper_homeGl .images_wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1215px) {
  .wrapper_homeGl .images_wrapper {
    display: none;
  }
}
.wrapper_homeGl .images_wrapper img {
  width: 100%;
}/*# sourceMappingURL=Home.css.map */