@import '../../styles/vars';

.wrapper_homeGl {

  display: flex;
  column-gap:40px ;
  padding: 20px 87px;
  @media (max-width: 680px) {
    padding: 3%;
  }
  .content_wrapper {
    flex-basis: 90%;
    @media (max-width: 990px) {
      flex-basis: 100%;
    }

    .content_title {
      margin-bottom: 30px;
      h3 {
        position: relative;
        color: rgb(24, 27, 50);
        font-family: $family;
        font-size: 56px;
        font-weight: $light;
        line-height: 126%;
        text-align: left;
        display: inline-block;
        @media (max-width: 870px) {
          font-size: 40px;
        }
        @media (max-width: 680px) {
          font-size: $font-30;
        }
        @media (max-width: 480px) {
          font-size: $font-26;
        }

        span {
          color: rgb(234, 93, 128);
        }
        img {
          position: absolute;
          left:60%;
          top: -10px;
          @media (max-width: 680px) {
            display: none;
          }
        }
      }
    }
    .content_body{
      .box{
        border: 2px solid rgb(234, 93, 128);
        border-radius: 32px;
        background: rgb(255, 255, 255);
        color: rgb(102, 102, 128);
        font-family: $family;
        font-size: 18px;
        font-weight: 400;
        line-height: 190%;
        text-align: left;
        padding: 20px 50px;
        margin-bottom: 20px;
        @media (max-width: 680px) {
          font-size: 14px;
          font-weight: 400;
          line-height: 170%;
        }

      }
      .wrap_box_first{
        display: flex;
        align-items: center;
        img{
          @media (max-width: 990px) {
            display: none;
          }
        }
      }


    }
    .btn_wrapper{
      width: 200px;
      height: 61.8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 43.63px;
      background: rgb(234, 93, 128);
      margin-bottom: 45px;
      @media (max-width: 680px) {
        width: 100%;
      }
      a{
        font-size: 16px;
        font-weight: 400;
        line-height: 30.8px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        text-decoration: none;
        font-family: $family;
        color: white;
      };
    }
  }

  .images_wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  @media (max-width: 1215px) {
    display: none;
  }

      img {
        width: 100%;
    }
  }
}
