@import '../../styles/vars.scss';

.exitBtnStudy {
  height: 46px;
  border-radius: 50px;
  border: none;
  background-color: $pinkColor;
  color: #ffffff;
  font-size: 16px;
  padding: 15px;
  cursor: pointer;
}
