@import '../../styles/vars.scss';

.exitBtnStudy {
    border-radius: 50px;
    border: none;
    background-color: $pinkColor;
    color: #ffffff;
    font-size: $font-16;
    padding: 15px 25px;
    font-family: $familySecond;
    cursor: pointer;
}