@use '../../styles/mixins.scss' as mixins;
@import '../../styles/vars.scss';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 87px;
  margin-bottom: 10px;

  @media screen and (min-width: 360px) and (max-width: 675px) {
    height: 80px;
    flex-direction: column;
  }

  .header-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    cursor: pointer;
    font-family: $family;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(60, 60, 60);

    .header-link {
      text-decoration: none;
      @include mixins.font($bold, $font-14, $blackColor);
    }

    .header-text {
      @include mixins.font($bold, $font-14, $darkPinkColor);
    }

    @media screen and (min-width: 360px) and (max-width: 675px) {
      padding-bottom: 20px;
    }
  }

  .container_account {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .header-info-container-btn {
    width: 221px;
    height: 42px;
    border-radius: 73px;
    background: rgb(234, 93, 128);
    display: flex;
    font-weight: 700;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: $family;
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
  }

  .progress_user-info {
    display: flex;
    column-gap: 60px;

    .progress_header,
    .ball {
      font-family: $familySecond;
      display: flex;
      align-items: center;
    }

    img {
      border-radius: 50%;
      background-color: greenyellow;
      padding: 4px;
      width: 45px;
      height: 40px;
      margin-right: 10px;
    }
  }
}

.exitBtnStudy {
  border: none;
}
