@import '../../styles/vars';

.postcard {
  font-family: $family;
  color: #605756;

  .submit {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      font-size: 14px;
      color: $black2;
      margin: 0;
      text-decoration: none;
    }

    .solid {
      border-bottom: 1px solid black;
      display: inline-block;
    }
  }

  .red {
    color: red;
  }

  .erLogin {
    text-align: center;
    margin-bottom: 20px;
    font-family: $familySecond;
    font-size: 16px;
  }

  .text_err_message-pass {
    font-size: 14px;
    color: $pinkColor;
  }

  .text_err_message-resPass {
    font-size: 14px;
    color: $pinkColor;
  }
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='password'] {
  width: 100%;
  margin-bottom: 10px;
  padding: 19px 30px;
  line-height: $font-16;
  // border-width   : 0;
  // outline        : none;
  // background     : transparent url(https://html5book.ru/wp-content/uploads/2016/12/bg-form.png) bottom left repeat-x;
  border: 1px solid rgba(243, 243, 243, 1);
  border-radius: 50px;
  background-color: rgba(243, 243, 243, 1);
  background-size: 8px 35px;
  font-family: $family;
  color: $black2;
}

.form-row input[type='text']:focus,
.form-row input[type='email']:focus,
.form-row input[type='password']:focus {
  outline: none;
  border-color: $pinkColor;
  caret-color: $pinkColor;
}

.form-row input[type='text']::placeholder,
.form-row input[type='email']::placeholder,
.form-row input[type='password']::placeholder {
  color: $black2;
}

.form-row input[type='submit'] {
  width: 100%;
  height: 70px;
  padding: 10px 60px;
  margin: 45px auto;
  background: $pinkColor;
  border: 1px solid $pinkColor;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  font-family: $family;
  font-size: $font-16;
  letter-spacing: 1px;
  color: #fffdee;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.form-row input[type='submit']:hover {
  background: #c42061;
}

.form-row {
  max-width: 100%;

  a {
    margin-bottom: 20px;
  }

  button {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 8px rgba(105, 105, 105, 0.3);
    border: 1px solid transparent;
    border-radius: 100px;
    outline: none;
    font-family: $familySecond;
    font-size: 16px;

    img {
      width: 50%;
    }
  }
}

.line {
  width: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 31px;
    height: 1px;
  }
}

.submit__btns {
  width: 116px;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.forgetPass {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__link {
    text-decoration: none;
    text-align: center;
    color: $pinkColor;
    cursor: pointer;
  }

  &__modal .ant-modal-content {
    display: flex;
    align-items: center;
    height: 60vh;
    border-radius: 60px;
    padding: 8%;
    justify-content: center;
    .ant-modal-close {
      right: 40px;
      top: 20px;
      color: $pinkColor;
    }
  }
}
