@use '../../../styles/mixins.scss' as mixins;
@import "../../../styles/vars.scss";

.form-container {
  width: 263px;
  height: 249px;
  background: #505050;
  border-radius: 20px;
  padding: 25px;
  @media screen and  (max-width: 580px){
    width: 100%;
  }

  .form-title {
    @include mixins.font($normal, $font-14, $whiteColor);
  }

  .form-text {
    margin-top: 10px;
    @include mixins.font($light, $font-14, $whiteColor);
  }

  .form-input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
    border: none;
  }

  .form-error {
    @include mixins.font($light, $font-14, $pinkColor);
  }

  .form-btn {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    @include mixins.button($light, $font-18, $whiteColor, $lightOrangeColor, $whiteColor, $lightOrangeColor, $disabledBtnBackground);
  }
}