@import "../../styles/vars.scss";

.progress{
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: start;
  column-gap: 8px;
  background-color: white;
  border-radius: 24px;
  margin-bottom: 3.5%;
}

.progress-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.progress-count{
  display: flex;
  align-items: baseline;
  column-gap: 8px;
  font-family: $familySecond;
  color: #3C3C3C; 
  text-align: center; 
}

.progress-percent{
  font-weight: 700;
  font-size: $font-18;
  line-height: 28px;
}

.progress-text{
  font-size: 10px;
  font-weight: $normal;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.progress-container {
  height: 8px;
  width: 100%;
  text-align: center;
  }

.progress-bar {
  border-radius: 64px;
  background: #efefef;
  }

.progress-value {
  height: 10px;
  border-radius: 30px;
  transition: 0.4s linear;  
  transition-property: width, background-color;  
  width: 30%; 
  background-color: $pinkColor;  
  }
