@import '../../styles/vars.scss';

body,
html {
    font-family: $family;
}

.adminPage {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 50px;

    .adminPage__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .adminPage__tableContainer {
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;

        .adminPage__tableContainer-actions {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $pinkColor;
            padding: 15px;
        }

    }

    .adminPage__users {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;

        .dropdown {
            width: 100%;

            .dropdown__space {
                display: flex;
                align-items: center;

                .dropdown__space-index {
                    width: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .dropdown__menu {
                .dropdown__menu-item {
                    font-weight: $bold;

                }
            }
        }
    }
}

.dropdown__menu-item--new {
    color: $lightOrangeColor;
}

.dropdown__menu-item--active {
    color: $orangeColor;
}

.dropdown__menu-item--critical {
    color: $darkPinkColor;
}

.filter {
    height: 40px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left: 5px;

    &:nth-child(2n) {
        background-color: #f6f6f6;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.adminTable {
    min-width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: auto;

    .adminTable__body {
        border-radius: 20px;

        .adminTable__header {
            background: $pinkColor;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 100%;

            th {
                color: $whiteColor;
                text-align: center;
                padding: 25px 15px;
                width: 20%;

                &:nth-child(1) {
                    padding: 5px;
                }

                &:nth-child(1) {
                    width: 5%;
                }

                &:nth-last-child(1) {
                    width: 10%;
                }
            }
        }

        .adminTable__body-row {
            background: #f6f6f6;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 100%;

            .adminTable__body-row-noteBox {
                width: 100%;
                height: 100%;

                & input {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    padding: 0 20px;
                    border: none;
                }

                .saveNoteBtn {
                    top: 17px;
                    right: 17px;
                    cursor: pointer;
                    background: none;
                    height: 40px;
                    width: 40px;
                    border: none;

                    & svg {
                        padding: 10px;
                        height: 40px;
                        width: 40px;
                    }
                }
            }

            .adminTable__body-row-noteBtn {
                background: none;
                border: none;
                height: 40px;
                width: 40px;
                padding: 10px;
                cursor: pointer;
            }

            td {
                width: 20%;
                text-align: center;
                padding: 15px 15px;
                overflow: hidden;
                text-overflow: ellipsis;

                &:nth-child(1) {
                    width: 5%;
                }

                &:nth-last-child(1) {
                    width: 10%;
                }
            }

            .adminTable__body-row-noteBlock {
                display: flex;
                align-items: center;
                position: absolute;
                width: 100% !important;
                height: 100%;
                padding: 0;
                margin: 0;

                & input {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    padding: 0 20px;
                    border: none;
                }

                .saveNoteBtn {
                    position: absolute;
                    top: 17px;
                    right: 17px;
                    cursor: pointer;
                    background: none;
                    height: 40px;
                    width: 40px;
                    border: none;

                    & svg {
                        padding: 10px;
                        height: 40px;
                        width: 40px;
                    }
                }
            }

            &:nth-child(2n) {
                background: $whiteColor;
            }

            .adminTable__body-row-filterBox {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                .adminTable__body-statusFilter {
                    font-weight: $bold;
                    color: $whiteColor;
                    width: 100px;

                    &--active {
                        background-color: $orangeColor;
                    }

                    &--new {
                        background-color: $lightOrangeColor;
                    }

                    &--critical {
                        background-color: $darkPinkColor;
                    }

                    &--stop {
                        background-color: $darkPinkColor;
                    }

                    &--passed {
                        background-color: $darkPinkColor;
                    }
                }

                & button {
                    position: absolute;
                    height: 100%;
                    width: 100px;
                    border-radius: 10px;
                    border: none;
                    background-color: $pinkColor;
                    color: #ffffff;
                    font-weight: $bold;
                    cursor: pointer;
                }
            }
        }
    }
}